$maincolor:rgb(29, 59, 181);

@media (max-width:499px) {
  #toast-body_1::before{
    content: "Welcome!";
  }
}

@media (min-width:500px) {
  #toast-body_1::before{
    content: "Welcome to My Web Page!";
  }
}

body{
  color:red;
  background-color: $maincolor;
  // background-color:#e3f2fd;
}

.dropdown-menu{
  background-color: $maincolor;
}

.navbar{
  background-color: $maincolor;
}

.nav-link, .dropdown-item{
  color:white !important;
}
